* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.calculator {
    width: 500px;
    background-color: black;
    color: azure;
}

.answer-screen {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    padding: 25px 15px;
}

.calc-button {
    background-color: rgb(38, 34, 34);
    color: antiquewhite;
    height: 100px;
    width: 20%;
    border: none;
    font-size: 40px;
    border-radius: 0;
    margin: 5px 10px;
    cursor: pointer;
}

.calc-button:last-child {
    color: aquamarine;
}

.calc-button:hover {
    background-color: black;
    border: 1px solid aquamarine;
}

.calc-button:active {
    background-color: grey;
}

.double {
    width: 45%;
}

.triple {
    width: 70%;
}